body {
    background-color: rgb(80, 220, 255);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.container {
    text-align: center;
}

.titulo {
    font-size: 20px;
}

input {
    width: 50px;
    text-align: center;
    margin: 5px;
    font-size: 26px;
}

button {
    background-color: rgb(255, 217, 0);
    text-align: center;
    height: 40px;
    padding: 12px;
    font-size: 16x;
}